@import "src/assp-theme.scss";

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;
}

.warnErrorMessage {
  background: $warn !important;
  text-align: center;

  .emoji {
    font-size: 100px;
    margin: 0;
  }
}

mat-progress-spinner {
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-header {
  white-space: nowrap;
}
