sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "6"
  - "7"

services:
  - postgresql

cache:
  npm: true
  directories:
  - client/node_modules

before_install:
  - npm install -g npm@latest local-web-server codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  # Client
  - cd client && npm install

  # Server
  - cd ../server && pip install coverage pycodestyle
  - pip install -r requirements.txt
  - psql -c 'create database server;' -U postgres

script:
  # Client
  - cd ../client && npm run lint
  - npm run test
  - ng build --prod --aot
  - cd dist && ws --port 4200&
  - npm run e2e

  # Server
  - cd ../server && coverage run --source='.' manage.py test config
#  - coverage xml
  - pycodestyle --show-source --max-line-length=119 --show-pep8 .
  - python manage.py test

after_script:
  - cd .. && codecov
