matrix:
  include:
    - language: python
      python: 3.7
      env:
        - DB_URI="postgres://nirgalon:@localhost:5432/assp"
        - DB_NAME="assp"
        - DB_USER="postgres"
        - DB_PASSWORD=""
        - DB_PORT="5432"
        - HOST="0.0.0.0"
        - PORT="8000"
        - LOG_LEVEL="info"
        - ENV="development"
      services:
        - postgresql
      before_script:
        - cd server && pip install coverage pycodestyle python-dotenv
        - pip install -r requirements.txt
        - psql -c 'create database assp;' -U postgres
      script:
        - python -m unittest
        - pycodestyle --show-source --max-line-length=120 --show-pep8 .

    - language: node_js
      node_js:
        - v12
      addons:
        chrome: stable
      before_install:
        - npm install -g npm@latest codecov
      install:
        - cd client && npm install
        - export CHROME_BIN=chromium-browser
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
      script:
        - npm run lint
        - npm run test
        - npm run build
        - npm run e2e

#
# sudo: required
# dist: trusty
#
# addons:
#   apt:
#     sources:
#       - google-chrome
#     packages:
#       - nodejs
#       - google-chrome-stable
#
# language: python
# python:
#   - 3.6
#
# services:
#   - postgresql
#
# # cache:
# #   npm: true
# #   directories:
# #     - client/node_modules
#
# before_install:
#   - npm install -g npm@latest local-web-server codecov
#   - export CHROME_BIN=chromium-browser
#   - export DISPLAY=:99.0
#   - sh -e /etc/init.d/xvfb start
#
# install:
#   # Client
#   - cd client && npm install
#
#   # Server
#   - cd ../server && pip install coverage pycodestyle
#   - pip install -r requirements.txt
#   - psql -c 'create database server;' -U postgres
#
# script:
#   # Client
#   - cd ../client && npm run lint
#   - npm run test
#   - npm run build
#   - cd dist && ws --port 4200&
#   - npm run e2e
#
#   # Server
#   - cd ../server && coverage run --source='.' manage.py test
#   - coverage xml
#   - pycodestyle --show-source --max-line-length=120 --show-pep8 .
#
# after_script:
#   - cd .. && codecov
