[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sanic = "*"
aiopg = "*"
peewee-async = "*"
peewee = "*"
sanic-cors = "*"


[dev-packages]



[requires]

python_version = "3.6"
