# Install with: `pip install -r requirements.txt`

Django==1.10.6
psycopg2==2.6.2
django-extensions==1.7.7
gunicorn==19.6.0

# Security
django-admin-honeypot==1.0.0

# Rest Framework
djangorestframework==3.5.4
Markdown==2.6.8
django-filter==1.0.1

# CORS
django-cors-headers==2.0.2
