# Install with: `pip install -r requirements.txt`

Django==1.10.5
psycopg2==2.6.2
gunicorn==19.6.0
django-extensions==1.6.6

# Rest Framework
djangorestframework==3.3.3
Markdown==2.6.6
django-filter==1.0.1

# CORS
django-cors-headers==1.1.0
