.file-not-found-view {
  background-color: #303030;
  width: 100vw;
  height: 100vh;

  a, img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 50%;
    transform: translate(-50%, -50%);
  }

  a {
    top: 70%;
    margin: 0;
  }
}
